<%= will_paginate @posts %>
<% @articles.each do |article| %>
<div class="ui very relaxed items">
  <div class="item">
    <div class="image">
      <%= image_tag(article.image) if article.image.attached? %>
    </div>
    <div class="content">
      <h3 class="ui header"><%= link_to (article.title), article_path(article)  %></h3></a>
      <div>
        <small><b>by: <%= article.user.username %> at: <%= article.created_at %></b></small>
      </div>
      <div class="description">
        <p><%= article.content %></p>
      </div>
    </div>
  </div>
</div>
  <% if logged_in? && (current_user == article.user || current_user.admin?) %>
    <div class="ui buttons">
      <button class="ui negative button"><%= link_to "Delete article", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></button>
      <div class="or"></div>
      <button class="ui positive button"><%= link_to "Edit article", edit_article_path(article) %></button>
    </div>
  <% end %>
<hr>
<% end %>
<%= will_paginate @posts %>