<h4 class="ui center aligned medium icon header">
  <i class="circular black users icon"></i>
  <b><em>Let's chew the fat!</em></b>
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
            <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Write a message and send it using ENTER or clicking the button" %>
              <%= f.button '<i class="bordered inverted purple edit icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox" id="chatbox" >
      <div class="content">
        <div class="ui inverted purple vertical menu">
          <h4 class="item">
            <b>Online members</b>
          </h4>
          <ul>
            <% User.online.each do |user| %>
              <li><%= user.username %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>