<h3 align="center">Users Index</h3>

<%= will_paginate @posts %>
<% @users.each do |user| %>

  <div class="row">
    <aside class="col 4">
      <section class="user_info">
        <h1>
          <%= link_to (gravatar_for user), user_path(user) %><br>
          <%= user.username %><br>
          <%= user.email %>
        </h1>
      </section>
      <% if logged_in? and current_user.admin? %>
        <div class="ui buttons">
          <button class="ui negative button"><%= link_to "Delete user", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></button>
          <div class="or"></div>
          <button class="ui positive button"><%= link_to "Edit profile", edit_user_path(user) %></button>
        </div>
      <% end %>
    </aside>

  </div>
  <hr>

<% end %>

<%= will_paginate @posts %>