<h3 align="center">User profile</h3>
<% provide(:title, @user.username) %>

<div class="ui celled grid">
  <div class="row form">
    <div class="three wide column">
      <%= gravatar_for @user %>
    </div>
    <div class="three wide column">
      <h3>
        <%= @user.username %><br>
        <%= @user.email %>
        <% if current_user.admin? %>
          <b><em><h3><%= "[admin]" %></h3></em></b>
        <% end %>
      </h3>
    </div>
    <div class="nine wide column">
      <h3 align="center"><%= "#{@user.username}" %>'s articles</h3>
      <ul>
        <% @user.articles.each do |article| %>
          <li><h4><%= link_to article.title, article %></h4></li>  
        <% end %>
      </ul>
    </div>
  </div>
</div>